@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");

* {
  font-family: "Big Shoulders Display", sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  width: 100vw;
}

.upperCase {
  text-transform: uppercase;
}

p {
  font-family: "Outfit", sans-serif;
}

h1 {
  font-size: 96px;
  line-height: 88px;
}

h2 {
  font-size: 60px;
  line-height: 50px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 800px;
  background: #151515;
  z-index: -1;
}

.heroDescription {
  display: flex;
  flex-direction: column;
  width: 350px;
  position: relative;
  right: 3%;
  padding-top: 13%;
  font-size: 22px;
  line-height: 32px;
}

.hero {
  display: flex;
  margin-bottom: 180px;
  justify-content: center;
}

.header {
  position: relative;
  left: 11%;
  padding-top: 13%;
  color: white;
  mix-blend-mode: difference;
}

.heroImage {
  height: 800px;
  width: auto;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 260px;
  height: 72px;
  background-color: #151515;
  color: white;
  border: none;
  margin-top: 30px;
  letter-spacing: 4px;
  font-size: 20px;
}

.location {
  text-align: center;
}

.locationText {
  text-decoration: none;
}

.locationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.arrowBox {
  background-color: #d5966c;
  height: 72px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  height: 24px;
  width: 8px;
}

.button:hover {
  background-color: #d5966c;
}

.button:hover > .arrowBox {
  background-color: #151515;
}

.gridOne {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin: 0 165px 30px 165px;
}

.gridTwo {
  display: flex;
  justify-content: center;
  margin-bottom: 180px;
}

.gridOneText {
  width: 350px;
  padding-right: 125px;
}

.mediumBody {
  font-size: 22px;
  line-height: 32px;
  margin-top: 32px;
}

.gridTwoText {
  width: 350px;
  height: 248px;
  background-color: #151515;
  padding: 64px 48px;
  margin-top: 32px;
}

.gridTwoText > p,
h2 {
  color: white;
}

.gridTwoText > p {
  margin-top: 32px;
}

.gridTwoRight {
  margin-left: 30px;
}

.lineHeight {
  line-height: 60px;
}

#black {
  color: #151515;
}

.footer {
  height: 244px;
  background-color: #151515;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding-right: 165px;
  padding-left: 165px; */
}

.footerTextContainer {
  display: flex;
  width: 700px;
  justify-content: space-between;
  /* width: 100%; */
}

.logoFooter {
  color: white;
  font-size: 32px;
  width: 160px;
  line-height: 32px;
}

.footerText {
  color: white;
  width: 430px;
}

.icons > img {
  padding-right: 16px;
}

.icons > img:hover {
  color: #d5966c;
}

.smallBody {
  font-size: 18px;
  line-height: 28px;
}

#map {
  height: 480px;
}

@media screen and (max-width: 760px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 375px) {
}
